<!DOCTYPE html>
<html lang="en">
<body>
<div id="top">
  <header>
    <h1>YAND - Yet Another Node.js {NODE_VERSION} Manual & Documentation</h1>
  </header>

  <div class="content">
    <div class="entry">
      <h2><span class="name">What is YAND?</span></h2>
      <div class="longdesc">
        <p>
          Yand is a Yet Another Node.js Documentation viewer. <br/>
          This document is made from <a href="http://nodejs.org/docs/{NODE_VERSION}/api/index.html" target="_blank">Node.js {NODE_VERSION} Manual &amp; Documentation</a>.
        </p>
      </div>
    </div>
<!-- TODO: Keyboard shortcut
    <div class="entry">
      <h2><span class="name">Keyboard Usage</span><span class="returns">Speed it up.</span></h2>
      <div class="longdesc">
        <p>
          The keys are working if the search field has focus or your mouse cursor is in the navigation area.
          ESC key is global.
        </p>
  <pre><code>UP      - Previous category / Previous item
DOWN    - Next category / Next item
ENTER   - Open category / Load selected item
ESC     - Clear search field and set focus</code></pre>
      </div>
    </div>
-->
    <div class="entry">
      <h2><span class="name">Credits</span><span class="returns">And props.</span></h2>
      <div class="longdesc">
        <p>
          <a href="http://nodejs.org/" target="_blank">Node.js</a>,
          <a href="http://nodejs.org/docs/latest/api/index.html" target="_blank">Node.js Manual & Documentation</a>,
          <a href="http://jqapi.com/" target="_blank">jQAPI</a>,
          <a href="http://jsref.64p.org/" target="_blank">JSRef</a>
          <a href="http://api.rubyonrails.org/" target="_blank">Ruby on Rails Documentation</a>,
        </p>
      </div>
    </div>

    <div class="entry">
      <h2><span class="name">License</span></h2>
      <div class="longdesc">
        <p>
          Node.js and its documentation is licensed under
          <a href="https://raw.github.com/joyent/node/master/LICENSE" target="_blank">the MIT license</a><br/>
          YAND is licensed under <a href="LICENSE.txt" target="_blank">the MIT license</a>.
        </p>
      </div>
    </div>

    <div class="entry">
       <h2><span class="name">Contact</span></h2>
       <div class="longdesc">
         <p>
           Any idea and feedback to make this a better navigation for the documentation is very welcome. Thes source code of YAND is available on <a href="https://github.com/hakobera/yand" target="_blank">GitHub</a>. If you want to contact us, mention to <a href="http://twitter.com/hakobera" target="_blank">@hakobera</a> via twitter or add issue/pull request via GitHub.
          </p>
       </div>
     </div>
  </div>
</div>
</body>
</html>
